{erl_opts, [debug_info]}.

{deps, []}.

{project_plugins, [rebar3_ex_doc, rebar3_hex]}.

{ex_doc, [
    {extras, ["README.md", "LICENSE"]},
    {main, "README.md"},
    {source_url, "https://github.com/ausimian/vixen"}
]}.

{hex, [
    {doc, #{provider => ex_doc}}
]}.


{alias, [
    {test, [{eunit, "--cover"}, {cover, "--verbose"}]}
]}.